input[type="checkbox"] {
  display: none;
}
label {
  cursor: pointer;
  /*font-family: PTSans-Caption;*/
  font-size: 16px;
  color: #4a4a4a ;
  font-weight: normal;
  margin-bottom: 0;
}
input[type="checkbox"] + label:before {
  border: 0.6px solid #d8dde6;
  content: "\00a0";
  display: inline-block;
  /* font: 16px/1em sans-serif; */
  height: 25px;
  width: 25px;
  margin: 0 8px 0 0;
  padding: 0;
  vertical-align: top;
  border-radius: 2.4px;
}
input[type="checkbox"]:checked + label:before {
  padding-top: 2px;
  background: #00aeef;
  color: white;
  font-size: 14px;
  content: "\2714";
  /* padding-bottom: 1.5px; */
  text-align: center;
  border-color: white;
  border-radius: 2.4px;
}


/*rent-truck*/

.__renttruk[type="checkbox"] {
  display: none;
}
label {
  cursor: pointer;
  /*font-family: PTSans-Caption;*/
  font-size: 16px;
  color: #4a4a4a ;
  font-weight: normal;
  margin-bottom: 0;
}
.__renttruk[type="checkbox"] + label:before {
  border: 0.6px solid #d8dde6;
  content: "\00a0";
  display: inline-block;
  /* font: 16px/1em sans-serif; */
  height: 18px;
  width: 18px;
  margin: 0 8px 0 0;
  padding: 0;
  vertical-align: top;
  border-radius: 2.4px;
}
.__renttruk[type="checkbox"]:checked + label:before {
      padding-top: 0px;
    background: #00aeef;
    color: white;
    font-size: 12px;
  content: "\2714";
  /* padding-bottom: 1.5px; */
  text-align: center;
  border-color: white;
  border-radius: 2.4px;
}